.box {
    width: 1440px;
    /* fixed width */
    height: 203px;
    /* fixed height */
    background: #FFFFFF;

    top: 912px;
}

.subtitle {
    top: 960px;
    /* distance from top of container/page */
    left: 629px;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.75%;
    color: #555555;
}

.partner-img {
    opacity: 50%;
}